@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../variables";

.card {
  overflow: hidden;
  transition: border 0.5s;
  height: 100%;

  .card-body {
    z-index: 10;
    .card-title {
      position: relative;
      color: black;
    }
    .card-subtitle {
      position: relative;
      color: gray;
    }
    .card-text {
      position: relative;
      color: gray;
    }
  }
  .card-img-top {
    width: 100%;
    height: 8rem;
    object-fit: cover;
  }
  img {
    transition: all 0.5s;
  }
  &:hover {
    border-color: $primary;

    .card-text {
      text-shadow: 1px -1px 1px $white;
    }
    img {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      filter: grayscale(100%);
      opacity: 0.3;
    }
  }
}
